
/* ------ home page css ------ */

#about{

    background-color: antiquewhite;
    margin-left: 20vw;
    margin-right: 10vw;
    margin-top: 5vh;

    padding: 2vw;

}

#chapter{

    background-color: white;
    margin-left: 5vw;
    margin-right: 10vw;
    margin-top: 15vh;

}

#chList{

    display: flex;
    flex-direction: column;

    padding-left: 5vw;
    padding-top: 2vh;

}

a:link {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: none;
    color: blue;
  }


/* ------ Chapters css ------ */
/* img size & button container  */

  .img{

    width: 65vw;
  }

#btContainer{


  display: flex;
  flex-direction: row;
  justify-content: space-around;


  }


/* ------ Intro page css ------ */

  #IntroBody{

    background-color: beige;
    display: flex;
    flex-direction: column;

  }

/* intro page 1 */

  #Intro1{

    margin-left: 17.5vw;
    margin-right: 16vw;
    background-color: aquamarine;

  }

  #intro1Speech{

    position: absolute;
    left: 52vw;
    top: 115vh;

    width: 25vw;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #Hello{

    font-size: 2.5em;

  }

  #Hello:hover{

    font-size: 2.8em;

  }

  /* intro page 2 */

  #Intro2{

    margin-left: 17.5vw;
    margin-right: 16vw;
    background-color: aquamarine;

  }