#intro{

    border-style: none;
    
    background-image: url(../pictures/login_page.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.intro_text{

    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.5em;
}

.button{

    background-color: white;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;

    font-size: 1.5em;
    margin: 4px 2px;
    cursor: pointer;

}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  

#story1_body{

    background-image: url(../pictures/lisa_scene1_happy.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#story2_body{

    background-image: url(../pictures/lisa_scene1_sad.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#story3_body{

    background-image: url(../pictures/lisa_scene1_wink.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#act2_body{

    background-image: url(../pictures/scene2_jean_serious.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#act2_1_body{

    background-image: url(../pictures/scene2_jean_lisa_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#act2_2_body{

    background-image: url(../pictures/scene2_jean_lisa_2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#act2_3_body{

    background-image: url(../pictures/scene2_jean_lisa_3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#act2_4_body{

    background-image: url(../pictures/scene2_jean_lisa_4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#act3_1_1body{

    background-image: url(../pictures/act3_1_jean_lisa_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.text_box{


    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;


}

.story_text{

    color: white;
    font-size: 1.2em;
}

.button2{

    border: none;
    color: white;
    /* padding: 14px 40px; */
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;

}

.button3{

    border: none;
    color: white;
    /* padding: 14px 40px; */
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;

}

a:link {
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: none;
    color: blue;
  }
  
  a:visited {
    text-decoration: none;
  }
  

#transiton_body{

    background-color: black;
    
}
.transition_text{

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.5em;
}