html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }

  .button{
    
        display: flex;

        width: 100px;
        height: 40px;
        background-color: lightseagreen;
        color: black;
        
        text-decoration: none;

        position: absolute;

        justify-content: center;
        align-items: center;
        
        border-collapse: separate;
        border-radius: 15px;

  }


